footer{
    background: #F9F9FB;
    height: 45vh;
  }
  #footer{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 50px;
   margin-left: 10%
  }
  #footerImg{
    display: flex;
    justify-content: space-around;
   width: 20%;
  margin-left: 40%;
  }
  .imgfooter img{
  padding-top: 7%;
  }
  hr{
   width: 70%;
  }
  #footer h4{
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #848484;
  }
  #plan{
    margin-bottom: 28%;
   padding-top: 3%;
  }
  #footer h2{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
  }
  
  /* nav */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    width:50%;
    margin: 4% 0 10% 1%;
    list-style-type: none;
  }
  nav img{
    width:3%;
    height: 3%;
    margin: 3% 0 10% 10%;
    margin-left: -15%;
  }
  nav a{
    text-decoration:none;
    color:#B8BECD;
  }
  nav a:hover{
    
    color:#202336;
  }
  .login , .register{
    padding: 0.9% 4% ;
    border: 1px solid #FB8F1D;
    margin-top: -0.5%;
  }
  .login {
    color: #FB8F1D;
  }
  .login:hover{
    background-color: #FB8F1D;
    color: white;
  }
  .register{
    background-color: #FB8F1D;
    color: white;
  }
  .register:hover{
    background-color: white;
    color: #FB8F1D;
  }
  
  .newWay{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 15%;
  }
  
  .newText h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
    margin-top: 10%;
  }
  .newText h4{
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  }
  #ring img{
    margin-left: 35%;
  }
  #btn{
  width: 140px;
  height: 4vh;
  text-align: center;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  background: #FB8F1D;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  
  }
  .newWay:nth-of-type(1) img {
  
    margin-left: -10%;
  }
  
  
  /* /////////Header ////////////*/
 
  #header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .Explore{
    margin-left: 20%;
  }
  .Explore h1{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;
color: #202336;
mix-blend-mode: normal
  }
  .Explore h4{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #202336;

  }
  #select_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   gap: 30px;
   width: 30%;

  }
  #select{
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
    width: 220px;
    height: 52px;
  }
  #btn2{
    width: 140px;
    height: 4vh;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background: #FB8F1D;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10%;
    
    }
    .HeaderMain{
      margin-bottom: 15%;
      width: 100%;
    }
    #scrol{
      position: absolute;
      left: 80px;
      top: 694px;
      
    }
   #line{
    
     margin-bottom: 5%;
     width: 7%;

   }
   #plus{
    position: absolute;
    height: 20px;
    left: 657px;
    top: 220px;
    transform: rotate(7.69deg);

   }

 
   /* partner */
   .partner{
     display: grid;
     grid-template-columns: repeat(2,1fr);
   }
   .Testimonials{
     margin-left: 12%;
     margin-bottom: -5%;
   }
   .Testimonials h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px; 
    color: #000000;
    margin-bottom: 25%;

   }
   .Testimonials h4{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

   }

   .Testimonials h3{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
   }
   .Testimonials h6{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: -5%;
   }
   #man{
     border-radius: 15px;
   }
   #white{
     position: absolute;
      width: 132px;
      height: 60px;
      left: 1212px;
      top: 1690px;
      border-radius: 16px 0px 0px 0px;
   }
   #back{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1228px;
    top: 1700px;  
   }
   #next{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1288px;
    top: 1700px; 
   }
   #plus_partner{
    position: absolute;
    width: 31.72px;
    height: 31.64px;
    left: 945.66px;
    top: 1728px;
   }
   #scrol_partner{
    position: absolute;
    height: 42px;
    left: 1340px;
    top: 1240px;
   }
  

 /* panter */
 .SECT{
   margin-top: 10%;
 }

.SECT h1{
  font-size: 36px;
  padding-left: 5%;
  padding-bottom: 5%;
  font-family: 'Inter', sans-serif;
}
.SECT span{
  font-size: 20px;
  color: #FB8F1D;
  padding-left: 55%;
}
.SECT span::after{
  content: url(./img/view.png);
  margin-left: .5%;
}
.trending{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20%;
  
}
.trending div{
  width: 22%;
}

.trending img{
  height: 30vh;
  width: 100%;
  border-radius: 8px;
}
.trending h2{
  width:100%;
  font-size: 17px;
  line-height:25px;
  color: #000000;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  
}

.trending p{
  font-size: 15px;
  line-height:26px;
  color: #7D7987;
  font-family: 'Inter', sans-serif;
}
.trending a{
  color: #FB8F1D;
  font-family: 'Inter', sans-serif;
}
.SECT  a:nth-of-type(3){
  margin-top: -15%;
  display: flex;
}
.SECT p:nth-of-type(1), .SECT p:nth-of-type(2),.SECT p:nth-of-type(4){
  margin-bottom: 30%;
}

.SECT p:nth-of-type(3){
  margin-bottom: -32%;
}

.scoarP1 {
  margin: 1% 0% 0% 73%;
  height: 5vh;
  width: 3%;
}

.plusP1 {
  margin: 35% 0% 0% 46%;
  height: 4%;
}

.scoarP2{
  margin: 30% 0% 0% -2%;
}
.pluP2{
  margin: 0% 0% 0% 30%;
}
#pulsPanter{
  margin-left: 36%;
 
}
#scrolPanter{
  position: absolute;
width: 19.96px;
height: 20px;
left: 1054px;
top: 2933px;
  
}
/* Destinations */



.DesMain{
  width:90%;
 margin-left: 13%;
 
}
.Featured{
  display: flex;  
}
.Featured h1{
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}
.Featured h4{
  font-size: 17px;
  color: #FB8F1D;
  padding-left: 50%;
  margin-top: 2%;
  font-family: 'Inter', sans-serif;
}
.Featured h4::after{
 content: url(./img/view.png);

}

.photo{
  width:83%;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 20%;
}
.Raja{
  background: url(./img/img1.png)center/ cover no-repeat;
  border-radius: 10px;
  height: 45.2vh;
  width: 24%;
}

.text{
  background-color: white;
  margin-top: 110%;
  width: 50%;
  border-radius: 0px 6px 0px 0px;
  padding:1% ;
  font-family: 'Inter', sans-serif;
}

.Fan{
  background: url(./img/img2.png)center/ cover no-repeat;
  border-radius: 10px;
  height: 45.2vh;
  width: 24%;
}

.Vevey{
  background: url(./img/img3.png)center/ cover no-repeat;
  border-radius: 10px;
  height: 45.2vh;
  width: 24%;
}

.Skadar{
  background: url(./img/img4.png)center/ cover no-repeat;
  border-radius: 10px;
  height: 45.2vh;
  width: 24%;
}
#scoarDes{
  margin-left: 55%;
}
#plusDes{
  position: absolute;
  width: 20.05px;
  height: 20px;
  left: 114.61px;
  top: 1824px;
  transform: rotate(7.49deg);
}

#scoarDes2 {
  position: absolute;
  width: 19.96px;
  height: 20px;
  left: 834px;
  top: 2200px;
  
}

